.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.site-header {
  background-color: white;
  position: relative;
  z-index: 101;
}

.site-header--fixed {
  box-shadow: $wide-shadow;
  opacity: 0;
  position: fixed;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;

  .js-fixed-nav & {
    opacity: 1;
    visibility: visible;
  }
}

.site-logo__name {
  font-size: 3.25rem;
}

.site-nav {
  margin-top: 0.75rem;
  position: relative;
}

.site-nav--fixed {
  margin-top: 0.25rem;
}

.site-nav__item {
  color: $gray-700;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 3rem;
  padding: 0.5rem 0;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #212529; /* $gray-900 */
    text-decoration: none;
  }

  &:after {
    background-color: #212529;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    opacity: 0;
    position: absolute;
    transform: translateY(3px);
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  &:hover:after {
    opacity: 1;
    transform: translateY(0px);
    z-index: -1;
  }
}

.site-nav__toggle-icon {
  font-size: 1.5rem;
  line-height: 1;
}

.site-nav__toggle {
  display: none;
  font-size: 1.15rem;
}

.site-nav-toggleable-overlay {
  background-color: rgba(0,0,0,0.35);
  content: "";
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.2s ease-in-out;
  transition-property: opacity, visibility;
  width: 100vw;
  z-index: 99;
  visibility: hidden;

  .js-main-menu-open & {
    opacity: 1;
    visibility: visible;
  }
}

.close-menu {
  display: none;
}

@media only screen and (max-width: 1296px) {
  .close-menu {
    display: block;
  }

  .site-header--fixed {
    display: none !important;
  }

  .site-nav-toggleable {
    background-color: white;
    box-shadow: $wide-shadow;
    height: 100vh;
    overflow: auto;
    padding: 0.5rem 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    z-index: 100;

    .js-main-menu-open & {
      transform: translateX(0);
    }
  }

  .site-nav-toggleable-overlay {
    display: block;
  }

  .site-nav__toggle {
    display: block;
  }

  .site-nav__item {
    border: 0;
    display: block;
    margin-left: 0;
    padding: 1rem 2.5rem;
    max-width: 400px;
    width: 100vw;

    &:hover {
      background-color: $gray-200;
    }

    &:before,
    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    box-shadow: none;
    display: none;
    left: inherit;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: relative;
    transform: none;
    visibility: visible;
    width: 100%;

    .dropdown-link--open & {
      display: block;
    }
  }

  .dropdown-link:after {
    clear: both;
    content: "";
    display: block;
  }

  .dropdown-item {
    padding: 0.5rem 4.5rem;
  }
}
