<article class="image-gallery-modal">
  <svg class="spinner" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg>
  <img src="" class="gallery-modal__img">
  <div class="image-gallery__prev">
    <i class="ion-chevron-left"></i>
  </div>
  <div class="image-gallery__next">
    <i class="ion-chevron-right"></i>
  </div>
  <div class="gallery-modal__close">&times;</div>
</article>

<script>
  imageGallery();
</script>
