<section>
  <div class="container my-5 pb-5">
    <div class="row">
      <div class="col-xl-6 col-lg-7 offset-lg-1">
        <h1 class="font-weight-bold display-3">Remodel: TIG</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <p class="mt-4 text-center">
          Traditional, Modern, Cottage, Salt Box, Exterior, Interior, Kitchen, Bathroom, & Landscape.
        </p>
        <hr class="accent-line my-4">
      </div>
    </div>

    <div class="image-board my-5">
      <% (1..20).each do |index| %>
        <div class="image-board-item">
          <%=
            image_tag "/assets/projects/tig/small/tig-#{index}.jpg",
              class: "image-board-img",
              data: { large_src: asset_path("/assets/projects/tig/large/tig-#{index}.jpg") }
          %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= render partial: "/shared/image_gallery_footer" %>
