.btn-houzz {
  background-color: $houzz;
  color: white;

  &:hover {
    background-color: darken($houzz, 10%);
    color: white;
  }
}

.accent-line {
  background-color: $primary;
  height: 3px;
  max-width: 96px;
}

.dropdown-link {
  cursor: pointer;
  position: relative;

  .ion-android-arrow-dropup {
    display: none;
  }
}

.dropdown-menu {
  border: 0;
  box-shadow: $wide-shadow;
  display: block;
  left: 2.25rem;
  opacity: 0;
  visibility: hidden;
  transition: $transition-base;
  transform: translateY(0.45rem);
}

.dropdown-link--open {
  .ion-android-arrow-dropup {
    display: inline;
  }

  .ion-android-arrow-dropdown {
    display: none;
  }

  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-item {
  color: $gray-700;
  font-weight: 500;
}

@include media-breakpoint-down(sm) {
  .dropdown-link {
    > i {
      display: none;
    }

    .dropdown-menu {
      background-color: transparent;
      box-shadow: none;
      display: block;
      float: none;
      margin-top: 0.5rem;
      position: relative;
      padding: 0;
      transform: none;
    }

    .dropdown-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.image-board {
  margin: 0 auto;
  max-width: 100%;
  column-count: 4;
  column-gap: 1.875rem;
}

@include media-breakpoint-down(lg) {
  .image-board {
    column-count: 3;
  }
}

@include media-breakpoint-down(sm) {
  .image-board {
    column-count: 2;
  }
}

.image-board-item {
  margin: 0 0 1.875rem;
}

.image-board-img {
  cursor: pointer;
  transition: $transition-base;
  width: 100%;

  &:hover {
    transform: scale3d(1.05, 1.05, 1);
  }
}

.image-gallery-modal {
  background-color: rgba(0,0,0,0.85);
  cursor: pointer;
  height: 100vh;
  left: 0;
  padding: 2rem;
  position: fixed;
  opacity: 0;
  text-align: center;
  top: 0;
  transform: translateZ(0);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: 1000;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.gallery-modal__img {
  cursor: default;
  max-height: calc(100% - 4rem);
  max-width: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);

  &.is-wide {
    max-height: none;
    max-width: calc(100% - 4rem);
  }
}

.gallery-modal__close {
  color: white;
  cursor: pointer;
  font-size: 2.25rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
}
