.btn-houzz {
  background-color: $houzz;
  color: white;

  &:hover {
    background-color: darken($houzz, 10%);
    color: white;
  }
}

.accent-line {
  background-color: $primary;
  height: 3px;
  max-width: 96px;
}

.dropdown-link {
  cursor: pointer;
  position: relative;

  .ion-android-arrow-dropup {
    display: none;
  }
}

.dropdown-menu {
  border: 0;
  box-shadow: $wide-shadow;
  display: block;
  left: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: $transition-base;
  transform: translateY(0.45rem);
}

.dropdown-link--open {
  .ion-android-arrow-dropup {
    display: inline;
  }

  .ion-android-arrow-dropdown {
    display: none;
  }

  .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-item {
  color: $gray-700;
  font-weight: 500;
}

@include media-breakpoint-down(sm) {
  .dropdown-link {
    > i {
      display: none;
    }

    .dropdown-menu {
      background-color: transparent;
      box-shadow: none;
      display: block;
      float: none;
      margin-top: 0.5rem;
      position: relative;
      padding: 0;
      transform: none;
    }

    .dropdown-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
