.font-weight-semibold {
  font-weight: 500;
}

.basic-shadow {
  box-shadow: $base-shadow;
}

.wide-shadow {
  box-shadow: $wide-shadow;
}

.text-muted {
  color: $gray-700 !important;
}

.btn-spacer {
  letter-spacing: 0.5px;
}

.readable-line-height {
  line-height: 1.5;
}

.display-3 {
  line-height: 1.1;
}

.no-underline,
.no-underline:hover {
  text-decoration: none;
}
