$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$primary: #fe6402;
$houzz: #7ac043;

$base-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1);
$wide-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 4px 10px rgba(0,0,0,0.1);

$border-radius: 2px;
$display4-weight: 400;

.btn-houzz {
  background-color: $houzz;
  color: white;

  &:hover {
    background-color: darken($houzz, 10%);
    color: white;
  }
}

.accent-line {
  background-color: $primary;
  height: 3px;
  max-width: 96px;
}

@import "bootstrap";
@import "grid";
@import "views/*";
@import "utilities";
